/* Header Styles */
:root {
    --border-color: #445ba9;
    --form-background: rgba(0, 0, 0, 0.1);
    --primary-color: #FF0000;
    --primary-background: #333333;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-background);
    /* Primary grey color */
}

header .company-segment {
    display: flex;
    align-items: center;
}

header .company-segment img {
    /* Adjust width as necessary */
    width: 100px;
    margin-right: 10px;
    /* Space between logo and company name */
}

header .company-segment p {
    font-size: x-large;
}

header .company-name {
    color: #FFFFFF;
    font-family: 'Georgia', serif;
    /* Heading font */
    /* Additional styling for the company name */
}

/* Hamburguer buttom*/

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

/* Navigation Bar */
/* Navigation Bar */
.navigation {
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    /* Aligns nav items to the right */
    background-color: #FF0000;
    /* Red background color */
    padding: 10px 10px;
}

/* Add styles for .navi-open */
.navigation.open {
    display: flex;
}

.navigation a {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-size: xx-large;
}

.navigation a:hover {
    background-color: #CC0000;
    /* Slightly darker red for hover effect */
    transition: background-color 0.3s;
}


/* Additional global styles */
body {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    /* Text color */
    background-color: var(--primary-background);
    /* Primary color */
}

article {
    text-align: center;
}

/* Call to Action Button Styling */
.cta {
    background-color: #FF0000;
    /* Red background color */
    color: #FFFFFF;
    /* White text for contrast */
    padding: 15px 30px;
    /* Adjust padding as needed */
    border: none;
    /* No border for a cleaner look */
    border-radius: 5px;
    /* Slightly rounded corners */
    font-weight: bold;
    /* Make the text bold */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    text-transform: uppercase;
    /* Optional: makes text uppercase */
    transition: background-color 0.3s, transform 0.3s;
    /* Smooth transition for hover effect */
}

.cta:hover {
    background-color: #CC0000;
    /* Darker red on hover */
    transform: scale(1.05);
    /* Slightly increase size on hover */
}

/* Container holding the image and the button */
.image-container {
    position: relative;
    /* Set the width and height as needed */
    width: 100%;

}

.image-container img {
    width: 800px;
    height: auto;
    /* Removes bottom margin/space under the image */
}

/* Positioning the button over the image */
.image-container .cta {
    position: absolute;
    top: 20px;
    /* Adjust as needed for vertical positioning */
    left: 20px;
    /* Adjust as needed for horizontal positioning */
}

/* Container for Events and Weather */
.events-weather-container {
    display: grid;
    grid-template-rows: 1fr;
    /* Two equal columns */
    gap: 20px;
    /* Space between columns */
}

/* Styles for Events Card */
/* Common Styles for Both Card and Weather */
.card {
    background-color: #FFFFFF;
    color: var(--primary-background);
    border: 1px solid #DDDDDD;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
}

/* Container for Events and Weather */


.card h2,
.card h3,
.card p {
    margin: 10px 0;
    /* Example margin, adjust as needed */
}

.weather {
    display: grid;
    grid-template-columns: repeat(4, auto);

    /* Horizontally center the grid */
    gap: 5px;
    text-align: center;
}




.weather h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: auto;
    text-align: center;
    margin: 0;
    background-color: #FFFFFF;
}

#current-temp,
#weather-icon {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

#weather-icon {
    background-color: FFFFFF;
}

figcaption {
    margin: auto;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.weather p {
    margin: 5px;
}

/* Container for Spotlights */
.spotlights-container {
    display: grid;
    grid-template-columns: auto;
    /* Three equal columns */
    gap: 20px;
    /* Space between columns */
    padding: 20px;
    /* Padding around the entire section */
}

/* Styles for Each Spotlight Card */
.spotlights {
    background-color: #FFFFFF;
    /* Light background for the card */
    color: var(--primary-background);
    /* Darker text color for readability */
    border: 1px solid #DDDDDD;
    /* Subtle border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Soft shadow for depth */
    padding: 20px;
    /* Spacing inside the card */
    border-radius: 10px;
    /* Rounded corners */
    margin-bottom: 20px;
    /* Bottom margin for spacing between rows */
}

.spotlights h2 {
    margin-top: 0;
    /* Aligns the title at the top of the card */
}

/* Additional styles for internal elements as needed */
.spotlights p {
    margin: 10px 0;
    /* Example margin, adjust as needed */
}

/* Footer Styling */
footer {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    background-color: var(--primary-background);
    /* Dark background for the footer */
    color: #FFFFFF;
    /* Light text color for contrast */
    padding: 20px;
    /* Padding around the content */
    font-size: 0.9em;
    /* Slightly smaller font size for footer content */
}

footer div {
    margin-bottom: 15px;
    /* Spacing between each section in the footer */
}

footer div div {
    margin-bottom: 10px;
    /* Spacing within each column */
}

footer a {
    color: #FFFFFF;
    /* Ensuring links are also white */
    text-decoration: underline;
    /* Underline for links */
}

footer a:hover {
    text-decoration: none;
    /* Removing underline on hover for effect */
}

.last-footer {
    display: grid;
    grid-template-rows: repeat(3, auto);
    text-align: center;

}

.company-segment {
    display: grid;
    grid-template-rows: repeat(1, auto);
    text-align: center;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f0f0f0;
    margin-top: 20px;
}

.card h2 {
    background-color: red;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;

}

.card h3 {
    background-color: #333;
    ;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
}

.event h2 {

    color: white;
    padding: 2px;
    text-align: center;
    vertical-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
}

.card ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.card li {
    margin-right: 10px;

}


.card p {
    margin: 5px;
}

.event {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.event p {
    color: black;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0px;
}

iframe {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    padding: 5px;
}


footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--primary-background);
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 5px;
}

/* Side Bar */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.sidebar {
    background-color: var(--primary-background);
    color: #fff;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar h3 span {
    color: #000;
}

.sb-img {
    width: 100%;
    height: auto;


}

.content img {
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 0;
    display: block;
}

.york-pass {
    position: relative;
    background-color: red;
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sign-up-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 10px;
    border: 1px solid white;
    transition: background-color 0.3s;
    cursor: pointer;
}

.sign-up-button:hover {
    background-color: darkred;
}

.sign-up-button span {

    margin-bottom: 5px;
}

#wel-message {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(71, 75, 72, 0.8);
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    animation: fadeOut 10s ease-in-out;
    z-index: 9999;
    /* to bring it at the front */

}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Form styling */



html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form {
    display: grid;
    grid-template-rows: 1fr;
    /* Two equal columns */
    gap: 20px;
    /* Space between columns */
    padding: 0 2%;
    min-height: 20rem;
    text-align: left;
    background-color: white;
}



form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: var(--border-color);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input,
form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: var(--form-background);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 auto 2rem auto;
    width: 100%;
    /* Take up full width */
    max-width: 20rem;
    display: block;
}

.submitBtn {
    text-align: center;
}

.submitBtn:hover {
    cursor: pointer;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

footer {
    background-color: #333333;
    padding: .5rem 2%;
    text-align: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#bdescription {
    width: 100%;
    height: auto;
}

form h1 {
    color: var(--border-color);
    padding: 30px;
    text-align: center;
    vertical-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#membershipBenefits {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form h2 {
    color: #FFFFFF;
    text-align: center;
    background-color: var(--primary-color);
    ;
}

#form h3:nth-child(2) {
    color: #ffd700;

}

#form h3:nth-child(4) {
    color: #c0c0c0;

}

#form h3:nth-child(6) {
    color: #cd7f32;

}

#form :nth-child(8) {
    color: #3498db;

}


#benefitsItem {
    list-style-type: disc;
    margin-left: 20px;
}

#benefitsItem li {
    margin-bottom: 10px;
    font-size: 16px;

    color: #333;

}

.thankyou-container {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: 50rem;
    margin: 0 auto;
}

.thankyou-title {
    color: #3498db;
    font-size: 28px;
    margin-bottom: 10px;
}

.thankyou-message {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}


/* Directory styling type cards */

.main-directory-container {
    background-color: var(--primary-background);
    margin: 30px;
}

.dic-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    gap: 20px;
    background-color: var(--primary-background);
    color: black;
}

.directory-menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 1rem auto;

    padding: 0.5rem;

    text-align: center;
}

.directory-menu-toggle button {
    padding: 1rem;
    font-weight: 700;
}

.customerCard-container {
    width: 100%;
    height: 330px;
    border: 3px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}


.dic-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    height: 100%;
    width: 100%;
}

.dic-image-container img {
    margin-top: auto;
    margin-bottom: 5px;
    background-color: #3498db;
}

.dic-image-container h2 {
    margin-bottom: auto;

}



.p-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    height: auto;
    width: 100%;
}

.p-container p {
    margin: 5px;
    font-size: large;
}


.customerCard-container h3 {
    margin-top: 10px;
}

/* Directory styling type List */

table {
    width: 100%;
    margin-top: 20px;
}

thead {
    display: none;
}

tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Zebra striping for even rows */
}

tr:nth-child(odd) {
    background-color: #e0e0e0;
    /* Zebra striping for odd rows */
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #555;
}



td {

    color: #000;
}

.corner {
    background-color: black;
}