@media screen and (min-width: 800px) {


    .navigation {
        flex-direction: row;
        height: 50px;
    }

    .navigation a {
        margin: 0 8px;

    }

    #navi {
        display: flex;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    /* Container holding the image and the button */
    .image-container {
        position: relative;
        /* Set the width and height as needed */
        width: 100%;

    }

    .image-container img {

        width: 100%;
        height: auto;

        /* Removes bottom margin/space under the image */
    }

    /* Positioning the button over the image */
    .image-container .cta {
        position: absolute;
        top: 20px;
        /* Adjust as needed for vertical positioning */
        left: 20px;
        /* Adjust as needed for horizontal positioning */
    }

    /* Container for Events and Weather */
    .events-weather-container {

        grid-template-columns: 1fr 1fr;
        /* Two equal columns */
        gap: 20px;
        /* Space between columns */
    }

    /* Styles for Events Card */
    /* Common Styles for Both Card and Weather */
    .card,
    .weather {
        grid-column: span all;
    }

    /* Container for Events and Weather */


    /* You might want to adjust padding, margin, etc., for inner elements like h2, h3, p in the cards */
    .card h2,
    .card h3,
    .card p,
    .weather h2,
    .weather p {
        margin: 10px 0;
        /* Example margin, adjust as needed */
    }

    .weather h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: auto;
        text-align: center;
        margin: 5px;
    }

    .spotlights-container {
        grid-template-columns: 1fr 1fr 1fr;
        /* Two equal columns */
        gap: 20px;
    }



    /* Styles for Each Spotlight Card */
    .spotlights {
        background-color: #FFFFFF;
        /* Light background for the card */
        color: #333333;
        /* Darker text color for readability */
        border: 1px solid #DDDDDD;
        /* Subtle border */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* Soft shadow for depth */
        padding: 20px;
        /* Spacing inside the card */
        border-radius: 10px;
        /* Rounded corners */
        margin-bottom: 20px;
        /* Bottom margin for spacing between rows */
    }

    .spotlights h2 {
        margin-top: 0;
        /* Aligns the title at the top of the card */
    }

    /* Additional styles for internal elements as needed */
    .spotlights p {
        margin: 10px 0;
        /* Example margin, adjust as needed */
    }

    /* Footer Styling */
    footer {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);

        /* Dark background for the footer */
        color: #FFFFFF;
        /* Light text color for contrast */
        padding: 20px;
        /* Padding around the content */
        font-size: 0.9em;
        /* Slightly smaller font size for footer content */
    }

    footer div {
        margin-bottom: 15px;
        /* Spacing between each section in the footer */
    }

    footer div div {
        margin-bottom: 10px;
        /* Spacing within each column */
    }

    footer a {
        color: #FFFFFF;
        /* Ensuring links are also white */
        text-decoration: underline;
        /* Underline for links */
    }

    footer a:hover {
        text-decoration: none;
        /* Removing underline on hover for effect */
    }

    .last-footer {
        display: grid;
        grid-template-columns: repeat(4, auto);

    }

    .company-segment {
        display: grid;
        grid-template-columns: repeat(2, auto);
        text-align: center;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .card {

        margin: 10px;
        border: 1px #ddd;
        padding: 5px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        text-align: center;
    }

    .card h2 {
        height: 60px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    footer {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    iframe {
        padding: 10px;
        grid-column: 1 / -1;

    }

    #menu {
        display: none;
    }

    .container {
        grid-template-columns: 1fr 3fr;
        grid-auto-rows: auto;
    }

    .sidebar {
        width: 460px;
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        align-items: start;
        height: 2500px;
        padding: 0px;
    }

    .sb-img {
        width: 100%;
        height: auto;

    }

    .content img {
        border: 5px solid transparent;
        transition: border 0.3s ease-in-out;

    }

    .content img:hover {
        box-shadow: 0 30px 30px rgba(246, 242, 242, 0.985);
        border-color: red;

    }

    form {
        max-width: 50rem;
        width: 100%;
    }

    #form {
        width: 100%;
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 20px;
    }

    .dic-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        background-color: var(--primary-background);
        color: black;
    }

    .directory-menu-toggle {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
    }

    .directory-menu-toggle button {
        padding: 1rem;
        font-weight: 700;

    }

    .directory-menu-toggle button:hover {
        cursor: pointer;
    }

    /* Directory styling type List */


    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    thead {
        background-color: #333;
        color: #fff;
        display: contents;
    }

    tr {
        display: table-row;
        /* Resetting to default table-row display */
        flex-direction: initial;
        /* Resetting flex direction */
        align-items: initial;
        /* Resetting align items */
    }

    th,
    td {
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #555;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        /* Zebra striping for even rows */
    }

    tr:nth-child(odd) {
        background-color: #e0e0e0;
        /* Zebra striping for odd rows */
    }

    td {
        border: 1px solid #ddd;
        color: #000;
    }

    .corner {
        background-color: black;
    }




}