body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    background-color: rgb(33, 82, 167);
    ;

}

header img {
    max-width: 100%;
    height: auto;
}

header span {
    text-align: center;
    font-size: 38px;
    color: #fff;
    padding: 10px;
}

.navigation a:hover {
    background-color: #8B4513;
}

/* #navi {
    display: none;
} */

.navigation {
    display: none;
    flex-direction: column;
    background-color: #333;
}

/* Add styles for .navi-open */
.navigation.open {
    display: flex;
}

.navigation a:hover {
    background-color: #8B4513;
}

.navigation a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Dark Mode  */

#mode {

    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
    margin: 9px;
}

/* when open  */

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

/* Hero image */
.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);

}

.hero img {
    width: 100%;
    height: 100%;
    display: block;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    width: auto;



}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Great Vibes", serif;
}

/* End Hero */

main {
    padding: 0px;
    text-align: center;
    grid-template-rows: repeat(4, 1fr);
}

main h1 {
    width: 100%;
    box-sizing: border-box;
    text-decoration: underline;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f0f0f0;
    margin-top: 20px;
}

.card h2 {
    background-color: rgb(33, 82, 167);
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;

}

.card h3 {
    background-color: #333;
    ;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
}

.event h2 {

    color: white;
    padding: 2px;
    text-align: center;
    vertical-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
}

.card ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.card li {
    margin-right: 10px;

}


.card p {
    margin: 5px;
}

.event {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.event p {
    color: black;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0px;
}

iframe {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    padding: 5px;
}


footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f0f0f0;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
}

footer p {
    margin: 5px;
}

/* Side Bar */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    /* Align items in a single column */

    /* Center items horizontally */
    padding: 20px;
}

.sidebar h3 span {
    color: #000;
}

.sb-img {
    width: 100%;
    height: auto;


}

.content img {
    width: 100%;
    height: auto;
    margin: 0;
    /* Remove any default margin */
    padding: 0;
    /* Remove any default padding */
    display: block;
    /* Ensure the image is a block element */
    border: 1px solid black;
    /* Add border if needed */
}

.york-pass {
    position: relative;
    background-color: red;
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sign-up-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 10px;
    border: 1px solid white;
    transition: background-color 0.3s;
    cursor: pointer;
}

.sign-up-button:hover {
    background-color: darkred;
}

.sign-up-button span {

    margin-bottom: 5px;
}

#wel-message {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(71, 75, 72, 0.8);
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    animation: fadeOut 10s ease-in-out;
    z-index: 9999;
    /* to bring it at the front */

}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}