@media screen and (min-width: 800px) {
    .navigation {
        flex-direction: row;
        height: 50px;
    }

    .navigation a {
        margin: 0 8px;

    }

    #navi {
        display: flex;
    }

    .hero {

        max-width: 100%;
        height: auto;
        display: block;
        grid-column: 1 / -1;
    }

    .hero img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    main {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto;

    }

    main h1 {
        grid-column: 1 / -1;
        height: 50px;
    }

    .card {

        margin: 10px;
        border: 1px #ddd;
        padding: 5px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        text-align: center;
    }

    .card h2 {
        height: 60px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    footer {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    iframe {
        padding: 10px;
        grid-column: 1 / -1;

    }

    #menu {
        display: none;
    }

    .container {
        grid-template-columns: 1fr 3fr;
        grid-auto-rows: auto;
    }

    .sidebar {
        width: 460px;
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        align-items: start;
        height: 2500px;
        padding: 0px;
    }

    .sb-img {
        width: 100%;
        height: auto;
    }



}